# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserdatad
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# SwiftPM
.build/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
